body{
    background-color: black;
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* make empty columns span every row */
.column1, .column4, .column11, .column14{
    grid-row-start: span;
    background-color: grey;
}

/* setup columns */
.column1{
    grid-column-start: 1;
}
.column2{
    grid-column-start: 2;
}
.column3{
    grid-column-start: 3;
}
.column4{
    grid-column-start: 4;
}
.column5{
    grid-column-start: 5;
}
.column6{
    grid-column-start: 6;
}
.column7{
    grid-column-start: 7;
}
.column8{
    grid-column-start: 8;
}
.column9{
    grid-column-start: 9;
}
.column10{
    grid-column-start: 10;
}
.column11{
    grid-column-start: 11;
}
.column12{
    grid-column-start: 12;
}
.column13{
    grid-column-start: 13;
}
.column14{
    grid-column-start: 14;
}

/* rows */
div:has(.blank1){
    display: grid;
}
[class*=blank]{
    background-color: grey;
}
.blank1{
    grid-row-start: 1;
}
.blank2{
    grid-row-start: 2;
}
.blank3{
    grid-row-start: 3;
}
.blank4{
    grid-row-start: 4;
}
.blank6{
    grid-row-start: 6;
}
.blank7{
    grid-row-start: 7;
}
.blank10{
    grid-row-start: 10;
}
.blank11{
    grid-row-start: 11;
}
.blank12{
    grid-row-start: 12;
}
.blank13{
    grid-row-start: 13;
}
.blank14{
    grid-row-start: 14;
}